extends partials/base.pug

block append head
  title=title

block append body
  #balance
  <script type="text/javascript" src="/js/balance.js"></script><script type="text/javascript" src="/js/balance.js"></script>