extends partials/base.pug

block append head
  title=title
  link(src="/styles/home.css")

block append body
  script(type="text/javascript" src="/js/home.js")
  script(type="text/javascript" src="/js/background.js" defer)
