.main {
  @apply mt-8;
  max-width: 764px;
  margin: 0 auto;
}

.home {
  @apply p-10;
  background-color: black;
  color: white;
}

.link,
.link:visited {
  display: inline-block;
  position: relative;
  color: white;
}

.link::after {
  position: absolute;
  content: "";
  background: white;
  left: 0;
  height: 1px;
  width: 0%;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.link:hover::after {
  width: 100%;
}
