.closeContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.editContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}

.closeContainer *,
.editContainer * {
  pointer-events: none;
}
