@import "vendor/_tachyons.css";

@import "base/_global.css";
@import "base/_variables.css";
@import "base/_mixins.css";
@import "base/_fonts.css";

main {
  max-width: 764px;
  margin: 0 auto;
}

.home {
  background-color: black;
  /* height: calc(100vh - 64px); */
  color: white;
}

a,
a:visited {
  position: relative;
  color: white;
}

a::after {
  position: absolute;
  content: "";
  background: white;
  left: 0;
  height: 1px;
  width: 0%;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

a:hover::after {
  width: 100%;
}

canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
